:root {
--basic-black: #000000;
--basic-dark:  #333333;
--basic-white: #FFFFFF;
--basic-white-transparent:rgba(255, 255, 255, 0.3);
--basic-transparent:rgba(255, 255, 255, 0.9);
--basic-black-transparent: rgba(0, 0, 0, 0.3);
--basic-shadow-transparent: rgba(171, 171, 171, 0.3);
--basic-shadow-form: rgba(0, 1, 1, 0.15);

--basic-gray: #EEEEEE;
--basic-gray-medium: #EBEBEB;
--basic-gray-dark :#A9A9A9;
--basic-gray-extra: #666666;
--basic-gray-black: #6A6A6A;
--basic-light:#F2F2F2;
--basic-gray-srt: #CACACA;
--basic-gray-inpt: #E5E5E5;
--basic-shadow: #cccccc;
--basic-gray-academy: #BDBBBC;

--basic-blue: #81B3D2;
--basic-blue-dark: #669EC0;
--basic-blue-extra: #5496BD;

--basic-brown: #766357;
--basic-brown-dark: #604E43;
--basic-brown-extra: #503E33;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: var(--basic-white);
  height: 100%;
}

body {
  min-width: 1200px;
  padding: 0;
  margin: 0 40px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px 0 var(--basic-shadow);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.container-page-width {
  width: 1200px;
}

.container-hotel {
  width: 568px;
}

.main-page {
  text-align: center;
}

.main-navigation {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: 3px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 56px;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none;
}

.site-navigation li {
  flex-basis: 100px;
  flex-grow: 1;
  padding-bottom: 3px;
  margin-right: 10px;
}

.nav-right li {
  margin: 0;
  margin-left: 7px;
  text-align: right;
}

.nav-right li:first-child {
  margin-right: -5px;
}

.main-header-logo {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  width: 138px;
}

.main-header-logo img {
  position: absolute;
}

.site-navigation .link,
.hotels-list .link {
  padding: 2px;
  color: var(--basic-black);
}

.site-navigation .link:hover,
.hotels-list .link:hover {
  color: var(--basic-blue);
}

.site-navigation .link:active,
.hotels-list .link:active {
  color: var(--basic-black-transparent)
}

.site-navigation .link:not([href]) {
  color: var(--basic-brown);
}

.promo {
  height: 509px;
  width: 100%;
  padding-top: 77px;
  margin-bottom: 40px;
  background-color: var(--basic-dark);
  background-image:
    url("../img/Shape.svg"),
    url("../img/background_photo.jpg");
  background-repeat: no-repeat;
  background-size:  100% auto;
  background-position: bottom;
}


/* блок преимуществ */

.features h2,
.features h3,
.features h4 {
  margin: 0;
  font-size: 21px;
  color: var(--basic-black);
}

.features-list p{
  margin: 0px;
  margin-top: 24px;
}

.features h2,
.reasons {
  width: 520px;
  margin: 0 auto 44px auto;
  line-height: 26px;
}

.reasons {
  margin-bottom: 53px;
}

.features h3 {
  width: 151px;
}

.features {
  width: 100%;
  margin-bottom: 56px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  background-color: var(--basic-gray);
  list-style: none;
}

.accented-feature {
  grid-column: 1 / 4;
}

.accented-feature,
.accented-feature h3 {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-list-item,
.accented-feature .feature-text {
  position: relative;
  min-height: 255px;
}

.accented-feature .feature-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 800px;
  height: 100%;
  background-image: url(../img/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.accented-feature:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 100%;
  background-image: url(../img/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subfeature-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 0;
  margin: 0;
  color: var(--basic-black);
  list-style: none;
  background-color: var(--basic-white);
}

.subfeature-list-item {
  flex-basis: 400px;
  flex-grow: 1;
  min-height: 330px;
}

.features-list-item:not(:first-child),
.subfeature-text,
.feature-text {
  display: flex;
  flex-direction: column;
  padding: 47px 57px 54px 58px;
  align-items: center;
  justify-content: space-between;
}

.accented-feature .feature-text {
  padding-right: 847px;
  padding-left: 50px;
}

.accented-feature:nth-child(2) {
  padding: 49px 47px 53px 851px;
}

.subfeature-text {
  height: 100%;
  justify-content: flex-start;
  padding-top: 60px;
  padding-bottom: 83px;
}

.subfeature-text::before {
  content: "";
  height: 78px;
  width: 75px;
  margin-bottom: 21px;
  background-repeat: no-repeat;
  background-size: contain;
}

.subfeature-1::before {
  background-image: url(../img/icon-1.svg);
}

.subfeature-2::before {
  background-image: url(../img/icon-3.svg);
}

.subfeature-3::before {
  margin-bottom: 26px;
  margin-top: -4px;
  margin-left: 9px;
  background-image: url(../img/icon-2.svg);
}

/* поиск отеля */

.container-hotel > p {
  margin-top: 24px;
  margin-bottom: 42px;
}

.hotel-search {
  line-height: 26px;
}

.hotel-search b {
  font-size: 30px;
}

.btn-open-search {
  min-height: 86px;
  width: 100%;
  padding: 20px 30px;
}

.search-form {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 114px 118px 114px;
  grid-template-rows: repeat(4, auto);
  width: 568px;
  padding: 55px 55px;
  row-gap: 28px;
  align-items: center;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-shadow-form);
}

.search-form p {
  display: flex;
  margin: 0;
}

.search-form label {
  padding-bottom: 2px;
  text-align: left;
}

.search-form input {
  padding: 0;
  padding-bottom: 3px;
  line-height: inherit;
}

.input-long {
  grid-column: 2 / 5;
}

.input-long input {
  width: 308px;
  padding-left: 13px;
}

.input-short input {
  width: 36px;
  padding-top: 1px;
  text-align: center;
}

.label-long {
  padding-right: 3px;
}

.label-short:nth-of-type(2n){
  text-align: right;
  margin-right: 26px;
}

.search-form .btn-2 {
  grid-column: 1 / -1;
  min-height: 57px;
  margin-top: 27px;
  padding: 10px 30px 12px 30px;
}

.search-form,
.search-form input {
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 700;
}

.search-form input,
.search-form button[type="button"] {
  background-color: var(--basic-light);
  border: none;
}

.search-form input:hover {
  background-color: var(--basic-gray-medium);
}

.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-gray-inpt);
  outline: none;
}

.btn {
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: 700;
  border: none;
}

.btn:focus,
.filter-form input:focus {
  outline: 1px solid var(--basic-gray-extra);
  outline-offset: 2px;
}

.hotel-search .btn {
  font-size: 21px;
  line-height: 26px;
}

.btn-1 {
  background-color: var(--basic-brown);
}

.btn-1:hover {
  background-color: var(--basic-brown-dark);
}

.btn-1:active {
  color: var(--basic-white-transparent);
  background-color: var(--basic-brown-extra);
}

.btn-2 {
  background-color: var(--basic-blue);
}

.btn-2:hover {
  background-color: var(--basic-blue-dark);
}

.btn-2:active {
  color: var(--basic-white-transparent);
  background-color: var(--basic-blue-extra);
}

.btn-controls,
.btn-calendar {
  width: 39px;
  height: 39px;
  color: var(--basic-gray-dark);
}

.btn-calendar {
  padding: 4px 8px 0 7px;
}

.btn-controls {
  padding-top: 1px;
  padding-bottom: 3px;
}

.btn-controls:hover {
  color: var(--basic-black);
}

.btn-controls:active {
  color: var(--basic-blue);
}

.map {
  width: 100%;
  line-height: 0;
}

.map iframe {
  width: 100%;
  border: none;
}


/* футер */

.main-footer {
  min-height: 120px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
}

.main-page-footer {
  margin-top: -120px;
  background-color: var(--basic-transparent);
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 22px 0 20px 0;
}

.contacts,
.copyright {
  display: flex;
  flex-basis: 333px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.contacts {
  flex-direction: column;
}

.contacts a {
  color: inherit;
  font-size: 21px;
  font-weight: 700;
}

.contacts a:nth-child(2) {
  margin-top: 9px;
  margin-bottom: 13px;
}

.contacts a:hover {
  color: var(--basic-blue);
}

.contacts a:active {
  color: var(--basic-gray-dark);
}

.socials {
  min-width: 155px;
  height: 100%;
  flex-basis: 300px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.socials-list li {
  margin: 0 3px;
}

.socials .btn-2 {
  display: inline-block;
  height: 48px;
  width: 46px;
  text-align: center;
  vertical-align: middle;
}

.social-btn:focus {
  outline: 1px solid var(--basic-gray-extra);
}

.social-btn:active svg {
  opacity: 0.3;
}

.link-academy {
  padding-top: 6px;
  padding-left: 8px;
}

.link-academy:hover path {
  fill: var(--basic-blue);
}

.link-academy:active path {
  fill: var(--basic-gray-academy);
}

/*фильтр гостиниц*/

.filters {
  color: var(--basic-white);
  background-color: var(--basic-blue-extra);
  background-image: url(../img/background_hotels.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-form {
  display: grid;
  grid-template-columns: 230px 250px 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 25px;
  padding-top: 26px;
  padding-bottom: 31px;
}

.filter-form > fieldset {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters label {
  position: relative;
  padding-left: 42px;
  margin-top: 25px;
}

.checkbox {
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  margin-left: 2px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='svg_1' fill='white' d='m3,0l17,0c1.65,0 3,1.35 3,3l0,17c0,1.65 -1.35,3 -3,3l-17,0c-1.65,0 -3,-1.35 -3,-3l0,-17c0,-1.65 1.35,-3 3,-3zm18,3c0,-0.542 -0.458,-1 -1,-1l-17,0c-0.542,0 -1,0.458 -1,1l0,17c0,0.542 0.458,1 1,1l17,0c0.542,0 1,-0.458 1,-1l0,-17z' clip-rule='evenodd' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.check-input:checked ~ .checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='svg_1' fill='white' d='m7.28499,7.48601l-2.829,2.82899l7.78301,7.783l13.932,-13.93199l-2.828,-2.829l-11.104,11.10199l-4.95401,-4.95299z'/%3E%3Cpath id='svg_2' fill='white' d='m21,20c0,0.542 -0.458,1 -1,1l-17,0c-0.542,0 -1,-0.458 -1,-1l0,-17c0,-0.542 0.458,-1 1,-1l16.908,0l1.585,-1.585c-0.452,-0.26846 -0.9673,-0.4117 -1.493,-0.415l-17,0c-1.65,0 -3,1.35 -3,3l0,17c0,1.65 1.35,3 3,3l17,0c1.65,0 3,-1.35 3,-3l0,-9.829l-2,2l0,7.829z'/%3E%3C/svg%3E");
}

.check-input:disabled ~ .checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='svg_1' fill='%236A6A6A' d='m3,0l17,0c1.65,0 3,1.35 3,3l0,17c0,1.65 -1.35,3 -3,3l-17,0c-1.65,0 -3,-1.35 -3,-3l0,-17c0,-1.65 1.35,-3 3,-3zm18,3c0,-0.542 -0.458,-1 -1,-1l-17,0c-0.542,0 -1,0.458 -1,1l0,17c0,0.542 0.458,1 1,1l17,0c0.542,0 1,-0.458 1,-1l0,-17z' clip-rule='evenodd' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.check-input:checked:disabled ~ .checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='svg_1' fill='%236A6A6A' d='m7.28499,7.48601l-2.829,2.82899l7.78301,7.783l13.932,-13.93199l-2.828,-2.829l-11.104,11.10199l-4.95401,-4.95299z'/%3E%3Cpath id='svg_2' fill='%236A6A6A' d='m21,20c0,0.542 -0.458,1 -1,1l-17,0c-0.542,0 -1,-0.458 -1,-1l0,-17c0,-0.542 0.458,-1 1,-1l16.908,0l1.585,-1.585c-0.452,-0.26846 -0.9673,-0.4117 -1.493,-0.415l-17,0c-1.65,0 -3,1.35 -3,3l0,17c0,1.65 1.35,3 3,3l17,0c1.65,0 3,-1.35 3,-3l0,-9.829l-2,2l0,7.829z'/%3E%3C/svg%3E");
}

.check-input:focus ~ .checkbox {
  outline: 1px solid var(--basic-gray-medium);
  outline-offset: 2px;
}

.cost-filters {
  width: 320px;
  padding: 0;
  margin-left: auto;
  padding-right: 2px;
}

.cost-filters input {
  width: 70px;
  color: var(--basic-white);
  border: none;
  background-color: transparent;
}

.price-controls,
.filters .btn {
  height: 36px;
  font: inherit;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
}

.filters .btn {
  width: 137px;
  margin: 23px 99px 0 auto;
  align-self: flex-start;
}

.filters .btn:focus {
  outline: 1px solid var(--basic-gray-medium);
}

.filters .btn:hover {
  color: var(--basic-black);
  background: var(--basic-white);
}

.filters .btn:active {
  background-color: var(--basic-gray);
}

.price-controls {
  display: flex;
  margin-top: 10px;
  margin-bottom: 11px;
  align-items: center;
}

.price-controls label {
  margin: 0;
  padding: 0 5px 0 66px;
}

.price-controls label:nth-child(2) {
  padding-left: 52px;
  border-left: 2px solid var(--basic-white);
}

.price-controls input {
  padding-left: 2px;
}

.range-controls {
  position: relative;
  width: 316px;
  height: 20px;
  padding-top: 10px;
}

.scale {
  height: 2px;
  background-color: var(--basic-white-transparent);
}

.bar{
  width: 252px;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  top: 1px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: var(--basic-gray-dark);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px var(--basic-shadow-transparent);
  cursor: pointer;
}

.toggle-max {
  left: 252px;
}

.toggle:hover {
  transform: scale(1.15);
}

/* сортировка */

.sort-by .container{
  display: flex;
  margin-top: 29px;
  margin-bottom: 31px;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-black);
}

.sort-by p {
  margin: 0;
}

.found-results {
  min-width: 135px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-by .sort-attribute {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  align-items: center;
  justify-content: left;
}

.sort-attribute .btn-sort {
  margin-right: 32px;
}

.sort-direction {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-sort {
  padding: 0;
  font: inherit;
  color: var(--basic-black-transparent);
  text-transform: inherit;
  background: none;
  border: none;
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-down,
.sort-up {
  padding: 2px 3px 0 10px;
}

.btn-sort:hover,
.btn-sort.active {
  color: var(--basic-blue);
}

.btn-sort:active {
  color: var(--basic-black);
  border: none;
}

.sort-up path,
.sort-down path {
  fill: var(--basic-black-transparent);
}

.sort-up:hover path,
.sort-down:hover path {
  fill: var(--basic-black)
}

.sort-up:active path,
.sort-down:active path,
.btn-sort.active path {
  fill: var(--basic-blue)
}

.sort-up,
.sort-down,
.btn-sort.active {
  border: none;
}


/*отели список результатов*/

.hotels-list {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-list p {
  margin: 0;
}

.hotels-list-item {
  margin-bottom: -1px;
  border-top: 1px solid var(--basic-gray-srt);
  border-bottom: 1px solid var(--basic-gray-srt);
}

.hotels-list-item .container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 28px;
}

.hotel-photo,
.found-results {
  flex-basis: 135px;
  margin-right: 29px;
  margin-left: 2px;
}

.rating,
.sort-direction {
  min-width: 129px;
}

.hotel-info,
.sort-attribute {
  flex-basis: auto;
  flex-grow: 1;
}

.hotels-list .link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-photo {
  height: 90px;
  width: 135px;
  margin-top: 2px;
}

.rating,
.hotel-info {
  display: flex;
  flex-direction: column;
  margin: 0 1px 0 30px;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-info {
  margin: 0;
  align-items: flex-start;
}

.hotel-info h3 {
  margin: -8px 0 5px -1px;
  font: inherit;
  letter-spacing: -0.2px;
}

.hotel-info span {
  display: inline-block;
  min-width: 106px;
  margin-right: 10px;
  vertical-align: baseline;
}

.booking {
  display: flex;
}

.booking .btn {
  max-width: 200px;
  margin: 16px 5px 2px 0;
  padding: 3px 17px;
  text-align: center;
}

.hotels-list .hotel-rating {
  padding: 2px 13px 4px 15px;
  margin-bottom: 1px;
  color: var(--basic-gray-extra);
  background-color: var(--basic-light);
}

.rating img {
  margin-left: 1px;
}

.subfeature-text h3 {
vertical-align: baseline;
}
